// presentation styles
// - container setup
body {
    width : 100%;
    height : 100%;
    background-color : var(--bg_green);
    // background-color : $bg_green;

    // fonts etc. defined in _base.scss  
    // rotate message OR over 600px - see below
    @media (orientation : portrait) , (max-width: 480px) {
        position : fixed;
    }
}





// main animation container
// - everything contained within this
.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    bottom : 0;
    // .title, .overview, .stage-title, .stages-*, .end-cta
    > div {
        position : relative;
        width: 100%;
        overflow : hidden;
        box-sizing : border-box;
        display : flex;
        justify-content : center;
    }
}


// scroll down arrow
.scroll-down {
    position : absolute;
    bottom : 5%;
    display : flex;
    flex-direction : column;
    align-items : center;
    span {
        color : $grey;
        margin-top : 1rem;
    }
    .fa {
        color : $green;
        font-size : 4.5rem;
        transform: translateY(0);
        animation: bounce 1.2s infinite;
        animation-timing-function: ease;
    }
}


// svg container and elements
.graphic {
    width : 100%;
    height : 100%;
    position : absolute;
    z-index : 1;
    // left aligned
    &.left-graphic {
        top : 0;
        bottom : 0;
        left : -30%;
        @media (min-width: 660px) {
            height : 87.5%;
            width : 87.5%;
            top : 7%;
            left : -18%;
        }
        @media (min-width: 880px) {
            height : 100%;
            width : 100%;
            top : 0;
            left : -24%;
        }
    }
    // right aligned
    &.right-graphic {
        width : 60%;
        right : -5%;
        z-index : 1;
    }
}

svg {
    width : 100%;
    height : 100%;
}


// paragraphs
.paragraph {
    @include topBorderPara;
}







// ____________________________________________________________________________
// sections


// ___________________
// 1: title
.title {
    height: 100%;
}
.title .container {
    flex-direction : column;
    justify-content : center;
    text-align : center;
    color : $white;
    animation: fadein 2s;
    h1 {
        @include whiteHeading;
    }
    h3 {
        @include subHeading;
    }
    

    // small screens
    @media (orientation : portrait) , (max-width: 480px) {
        > p, > h1, .scroll-down {
            display : none;
        }
    }

    // small screens
    // - rotate or get a bigger phone message
    .small-msg {
        display : none;
        @media (orientation : portrait) , (max-width: 480px) {
            display : flex;
            flex-direction : column;
            flex-wrap : wrap;
            align-items : center;
            justify-content : center;
            p {
                font-size : 1.8rem;
                font-weight : $normal;
                padding : 1rem 1.8rem;
                color : $white;
                background-color : rgba( $green, .75 );
            }
            .icon {
                position : relative;
                cursor : pointer;
                width : 27rem;
                &:hover {
                    animation : rotate .75s ease-in-out forwards;
                }
            }
            .fa {
                color : $green;             
                &-undo {
                    position : absolute;
                    top : 11rem;
                    left : calc((27rem/2) - 2.25rem);
                    font-size : 4.5rem;
                }
                &-mobile {
                    font-size : 27rem;
                }
                
            }
        }
    }
    
}






// ___________________
// overview
.overview {
    height: 100%;
    display : flex;
    justify-content : center;
}





// ___________________
// stages-title
.stages-title {
    height : 100%;
    text-align : center;
    display : flex;
    justify-content : center;

    h3 {
        @include subHeading;
        background-color : $grey;
    }
} 




// ___________________
// stage one: MIAMs
.stage-one {
    height : 100%;
    display : flex;
    justify-content : center;

    .tick {
        stroke : transparent;
        stroke-width : 20;
        
        // animation: dash .5s linear forwards;
        &.active {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke : $green;
            animation: dash 3s linear forwards;

        }
    }
}





// ___________________
// stage two: Mediation Sessions
.stage-two {
    height : 100%;
    display : flex;
    justify-content : center;

    // resize signpost
    .signpost {
        width : 80%;
        margin-left : 10%;
    }
    .one, .two, .three {
        opacity : 0;
    }
    .opaque {
        animation: opaque 1s linear forwards;
    }
} 





// ___________________
// stage three: End of Mediation
.stage-three {
    height : 100%;
    display : flex;
    justify-content : center;

    // signatures
    .signature {
        stroke : transparent;
        path {
            stroke-width : 5;
        }
        line {
            stroke-width : 7;
        }
        
        // animation: dash .5s linear forwards;
        &.active path,
        &.active line {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke : $grey;
            animation: dash 3s linear forwards;
        }
        &.active path {
            stroke : $facebook;
        }
    }
    // stamp
    .stamp {
        fill : transparent;
        &.active path {
            animation: blur .35s linear forwards;
        }
    }

    
}















// ___________________
// end CTA: link to able mediation website
.end-cta {
    height : 100%;
    text-align : center;
    display : flex;
    justify-content : center;

    .container > div {
        display : flex;
        flex-direction : column;
        color : $white;
    }

    h2 {
        align-self : center;
        @include whiteHeading;
    }

    .scroll-down {
        position : relative;
        display : none;
        @media (min-width: 660px) {
            display : block;
            margin : 2.4rem 0;
        }
        @media (min-width: 880px) {
            margin : 4.8rem 0;
        }
    }

    h3 {
        @include subHeading;
        margin-bottom : 2.4rem;
    }

    .button {
        align-self : center;
    }
} 
