// presentation styles
// - container setup
body {
    width : 100%;
    height : 100%;
    background-color : var(--bg_green);
    position : relative;

    // safari caveat: doesn't work too well on iOS safari - jumpy effect that scrollmagic can't remedy
    .safariMobile {
        position : fixed;
        bottom : 0;
        left : 0;
        right : 0;
        z-index : 5;
        background-color : $red;
        color : $white;
        transition: all 1s ease-in-out;
        // height set with js for css3 slidetoggle to work.
        .container {
            flex-direction : column;
            align-items : flex-start;
            padding-top : 2rem;
            padding-bottom : 2rem;
        }
        .fa {
            position : absolute;
            right : 20px;
            top : 2rem;
            cursor : pointer;
            @media (min-width: 660px) {
                right : 0;
            }
        }
        a {
            color : $white;
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
            &:hover{
                text-decoration : underline;
            } 
        }
    }
}


// main animation container
// - everything contained within this
.animation {
    position: absolute;
    top: 0;
    left: 0;
    bottom : 0;
    width: 100%;
    margin: auto;
    // this tries to apply to: .title, .overview, .stage-title, .stages-*, .end-cta
    // - these get wrapped in scroll divs, however
    > div {
        height : 100%;
        overflow : hidden;
        display : flex;
    }
}


// scroll down arrow
.scroll-down {
    display : flex;
    flex-direction : column;
    align-items : center;
    margin-top : 2.5rem;
    margin-bottom: 2.5rem;
    @media (min-width: 880px) {
        margin-top : 5rem;
        margin-bottom : 5rem;
    }

    span {
        color : $grey;
        margin-top : 1rem;
    }
    .fa {
        color : $green;
        font-size : 4.5rem;
        transform: translateY(0);
        animation: bounce 1.2s infinite;
        animation-timing-function: ease;
    }

    
    // end of animation
    // .end-cta & {
    //     margin-bottom: 2.5rem;
    //     @media (min-width: 880px) {
    //         margin-bottom : 5rem;
    //     }
    // }
}




// svg container
// - look at _grid.scss
.graphic {
    width : 100%;
    height : 100%;
    position : absolute;
    z-index : 1;
    box-sizing : border-box;
    top : -110px; // header
    @media (min-width: 660px) {
        top : auto;
    }

    // left aligned
    &.left-graphic { 
        padding-right : 20%;
        @media (min-width: 660px) {
            width : 87.5%;
            height : 87.5%;
            left : -20%;
            padding : 0;
        }
        @media (min-width: 880px) {
            width : 100%;
            height : 100%;
            left : -24%;
        }
    }
    // right aligned
    &.right-graphic {
        padding-left : 20%;
        @media (min-width: 660px) {
            width : 60%;
            right : -5%;
            padding : 0;
        }
    }
}

svg {
    width : 100%;
    height : 100%;
}



// force hardware acceleration: remedy for safari ios jumpy-ness
%safariFix {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
}

// paragraphs
.paragraph {
    @include topBorderPara;
    @extend %safariFix;
}



// test out safari ios: force hardware acceleration
// - apply to all animated elements
.overview svg > g,
.stages-title h3,
// .stage-one svg,
.stage-one .tick,
// .stage-two svg,
.stage-two svg > g,
// .stage-three svg,
.stage-three svg > g,
.end-cta .container {
    @extend %safariFix;
}





// ____________________________________________________________________________
// sections

%stage-flex {
    height : 100%;
    display : flex;
    justify-content : center;
}

// title
.title {
    animation: fadein 2s;
    h1 {
        @include whiteHeading;
    }
    h3 {
        @include subHeading;
    }    
}

// overview
// - green
.overview {
    @extend %stage-flex;
}

// stages-title
// - grey
.stages-title {
    @extend %stage-flex;

    h3 {
        @include subHeading;
        background-color : $grey;
    }
} 

// stage one: MIAMs
// - orange
.stage-one {
    @extend %stage-flex;

    // resize clipboard
    @media (min-width: 660px) {
        .clipboard {
            width : 60%;
            margin-left : 20%;
        }
    }

    .tick {
        stroke : transparent;
        stroke-width : 20;
        // animation: dash .5s linear forwards;
        &.active {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke : $green;
            animation: dash 3s linear forwards;

        }
    }
}


// stage two: Mediation Sessions
// - blue
.stage-two {
    @extend %stage-flex;

    // resize signpost
    @media (min-width: 660px) {
        .signpost {
            width : 80%;
            margin-left : 10%;
        }
    }
    // signs
    .one, .two, .three {
        opacity : 0;
    }
    .opaque {
        animation: opaque 1s linear forwards;
    }
} 



// stage three: End of Mediation
// - red
.stage-three {
    @extend %stage-flex;

    // signatures
    .signature {
        stroke : transparent;
        path {
            stroke-width : 5;
        }
        line {
            stroke-width : 7;
        }
        
        // animation: dash .5s linear forwards;
        &.active path,
        &.active line {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke : $grey;
            animation: dash 3s linear forwards;
        }
        &.active path {
            stroke : $facebook;
        }
    }
    // stamp
    .stamp {
        fill : transparent;
        &.active path {
            animation: blur .35s linear forwards;
        }
    }

    
}



// end CTA: link to able mediation website
// - green
.end-cta {
    @extend %stage-flex;
    text-align : center;

    h2 {
        align-self : center;
        @include whiteHeading;
    }

    h3 {
        @include subHeading;
        // @media (min-width: 660px) {
        //     margin-bottom : 2.5rem;
        // }
        // @media (min-width: 880px) {
        //     margin-bottom : 5rem;
        // }
    }

    .button {
        align-self : center;
    }
} 
