// Able Mediation
// - scss theme variables and mixins
// - keyframes as well












// _______________________________________

// variables

// able colours
$able-green : #70bf44; // 112, 191, 68   - bg: 199, 230, 182
$able-grey : #6a6a6a; // 106, 106, 106
$white : #ffffff;
$black : #000000;

$black_a : rgba( $black, .15 );
$white_a : rgba( $white, .5 );

$orange : #f07f37; // 240, 127, 55   - bg: 249, 203, 174
$blue : #7fc1ff; // 127, 193, 255   - bg: 203, 230, 255
$red : #e74e42; // 231, 78, 56    - bg: 245, 184, 179

// social icons
$facebook : #3c5b9a;
$twitter : #28aae1;
$google : #dd4b39;
$linkedin : #0077b5;


// $able-green_half : lighten( $able-green, 50% );

// text outline
$text-shadow : -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black;


// background colours and classes
$bg_green : lighten( $able-green, 30% );
$bg_grey : lighten( $able-grey, 45% );
$bg_orange : lighten( $orange, 25% );

// .bg-grey {background-color : $bg_grey;}
// .bg-orange {background-color : $bg_orange;}
















// greys
$able-darkergrey : #545454; // from single posts nav
$able-darkgrey : #b3b3b3; // from footer // 179, 179, 179
$able-middarkgrey : #c0c0c0; // from single posts nav
$able-midgrey : #dbdbdb; // from nav
$able-lightgrey : #f0f0f0;


// able green variations
$able-green_darker : darken( $able-green, 20% ); // not used
$able-green_dark : darken( $able-green, 10% ); // was #599836.
$able-green_light : lighten( $able-green, 10% ); // was #a9d88e Also #8ccb69 on categories widget
$able-green_lighter : lighten( $able-green, 20% ); // was #c5e5b4
// another green - from .nav. used $able-green_light instead


// able grey variations




// - - - - - -
// extra colours

// another red - from #secondary: #da291c. used $red_dark instead

// extra colour variations
$orange_dark : darken( $orange, 10% );
$blue_dark : darken( $blue, 10% );
$red_dark : darken( $red, 10% );

// extra colour variations - for buttons
$orange_light : lighten( $orange, 10% ); // was #f3965b
$blue_light : lighten( $blue, 10% );
$red_light : lighten( $red, 10% );






//––––––––––––––––––––––––––––––––––––––––––––––––––
// animations
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes bounce {
    0%,
    100% { transform:translateY(-5px); }
    30% { transform:translateY(10px); }
}

@keyframes rotate {
    from { transform:rotate(0deg); }
    to { transform:rotate(-90deg); }
}

// stage one / MIAMs
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

// stage two / Mediation sessions
@keyframes opaque {
    to {
        opacity: 1;
    }
}

// stage three / end of Mediation
@keyframes blur {
    from {
        // -webkit-filter : blur(5px);
        filter : url("#blur");
        transform:translate(-1px, -2px);
    }
    to {
        // -webkit-filter : blur(0px);
        filter : none;
        transform:translate(0px);
        fill : $red;
    }
}








//––––––––––––––––––––––––––––––––––––––––––––––––––
// font families
$font-main : 'Asap', Helvetica, Arial, sans-serif;
$font-blockquote : 'Lato', sans-serif;
$font-icons : 'FontAwesome';

// font sizes


// font weights
$light : 300;
$normal : 400;
$bold : 700;



// line heights
$font-main-size-xxs : 1.6em;
$font-main-size : 1.8em;
$font-main-line-height: 1.6;









//––––––––––––––––––––––––––––––––––––––––––––––––––
// measurements - in rem
$space-s1 : 1rem;
$space-s2 : 1.5rem;
$space-s3 : 2rem;
$space-s4 : 2.5rem;
$space-s5 : 3rem;
















//––––––––––––––––––––––––––––––––––––––––––––––––––
// mixins

// gradient
@mixin verticalGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom,GradientType=0 ); /* IE6-9 */
}

// font sizing
@mixin h1($color){
    font-weight : $bold;
    margin-bottom : 1rem;
    text-shadow : $text-shadow;
    color : $color;
    font-size : 4.5rem;
    @media (min-width: 660px) {
        font-size : 5.25rem;
    }
    @media (min-width: 880px) {
        font-size : 6rem;
    }
}

@mixin h3($color){
    font-weight : $bold;
    margin-bottom : 1rem;
    font-size : 1.8rem;
    color : $color;
    @media (min-width: 660px) {
        font-size : 2.1rem;
    }
    @media (min-width: 880px) {
        font-size : 2.4rem;
    }
}

@mixin Pbody($color){
    font-size : 1.5rem;
    line-height : 1.5;
    color : $color;
    @media (min-width: 660px) {
        font-size : 1.65rem;
        line-height : 1.55;
    }
    @media (min-width: 880px) {
        font-size : 1.8rem;
        line-height : 1.6;
    }
}



// headings with background colour
@mixin h2Background($background-color){
    font-weight : $normal;
    font-size : 2rem;
    padding : .75rem 1.8rem;
    color : $white;
    background-color : rgba( $background-color, .75 );
    @media (min-width: 660px) {
        font-size : 2.4rem;
    }
    @media (min-width: 880px) {
        font-size : 3rem;
        padding : 1rem 2.5rem;
    }
}

@mixin pBackground($background-color){
    font-size : 2.4rem;
    font-weight : $normal;
    padding : .75rem 1.8rem;
    background-color : rgba( $background-color, .75 );
    @media (min-width: 660px) {
        font-size : 2.6rem;
    }
    @media (min-width: 880px) {
        font-size : 3rem;
        padding : 1rem 2.5rem;
    }
}







//––––––––––––––––––––––––––––––––––––––––––––––––––
// outlines


// shadows
$shadow-down-right : 0.25rem 0.25rem .5rem rgba(0, 0, 0, 0.25);
// box-shadow : 2px 2px 8px rgba(0, 0, 0, 0.25); - from header

$shadow-down-right_thin : 1px 1px 2px rgba(0, 0, 0, 0.5);
$shadow-down-right_thick : 2px 2px 3px rgba(0, 0, 0, 0.5);



// gradients
$vertical-green : linear-gradient(180deg, $white 0%, $able-green 100%) repeat scroll 0 0;
$vertical-grey_to-zero : linear-gradient(180deg, $able-middarkgrey 0%, $able-middarkgrey 75%, rgba($able-middarkgrey, 0) 100%) repeat scroll 0 0;
$fade-in-out-center_horizontal : linear-gradient(to right, $able-lightgrey, $able-grey 35%, $able-grey 65%, $able-lightgrey 100%) 1 1 1 1;
$fade-in-out-center_vertical : linear-gradient(to top, $able-lightgrey, $able-grey 35%, $able-grey 65%, $able-lightgrey 100%) 1 1 1 1;

