body {
    width : 100%;
    height : 100%;
    font-family : $font-main;
    font-size : 1.8rem;
    line-height : 1.6;
    color : $able-grey;
    // @include verticalGradient($white, $able-green);
    // background-color : lighten( $able-green, 30% );
    background-color : $bg_green;

    // could just change bg colour with javascript, no luck with gradient and viewport - 100vh
    
    // rotate message OR over 660px - see below
    @media (orientation : portrait) , (max-width: 659px) {
        position : fixed;
    }
}






















// brand header
.header {
    width : 100%;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    z-index : 5;
    @include verticalGradient($white_a, transparent);
    .container {
        display : flex;
        justify-content : space-between; 
        align-items : center;
        padding-top : 2rem;
        padding-bottom : 2rem;
        .logo {
            display : flex;
            flex-direction : column;
            align-items : center;
            text-decoration : none;
            color : $able-grey;
            font-weight : $bold;
            line-height : 1;
            span {
                color : $able-green;
            }
        }
        .share {
            display : flex;
            align-items : center;
            text-transform : uppercase;
            font-size : 1.4rem;
            a {
                text-decoration : none;
                color : $able-grey;
                font-size : 1.8rem;
                margin-left : 1.5rem;
                transition : color .3s ease;
                &.facebook:hover {
                    color : $facebook;
                }
                &.google:hover {
                    color : $google;
                }
                &.twitter:hover {
                    color : $twitter;
                }
            }
        }
        // fix flex - can't deal with after
        &::after{
            content : none;
            display : none;
        }  
    }

}










// main animation container
// - everything contained within this
.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    bottom : 0; // -added
    // overflow: hidden; -taken away
    // sections
    > div {
        position : relative;
        width: 100%;
        // height: 100%; - this changes between sections
        overflow : hidden;
        box-sizing : border-box;
        // vertical align - requires flex on all containers
        display : flex;
        justify-content : center;
        // border-top:1px solid black;
        // border-bottom:1px solid black;

        &.spacer {
            height : 50%;
        }


        // all containers
        .container {
            z-index : 2;
            display : flex;
            align-items : center;
            // center and right align
            &.center {
                justify-content : center;
            }
            &.right {
                justify-content : flex-end;
            }
            // fix flex - can't deal with after
            &::after{
                content : none;
                display : none;
            }
        }


        // svg background / cover
        .bg-graphic {
            width : 100%;
            height : 100%;
            position : absolute;
            top : 0;
            left : 0;
            z-index : 1;
        }
        // may have to position each individually, and responsively
        // - bank of england solution - tell people to make their devices landscape
        .right-graphic {
            height : 100%;
            width : 60%;
            position : absolute;
            right : -5%;
            z-index : 1;
        }
        .left-graphic {
            height : 80%;
            width : 100%; // 80
            position : absolute;
            bottom : 0;
            left : -25%; // -15
            z-index : 1;
        }
    }
}





h3 {
    font-size : 2.4rem;
    font-weight : $bold;
    margin-bottom : 1rem;
}



// paragraphs
.paragraph {
    border-top : 10px solid;
    padding-top : 2.5rem;
    .overview & {
        border-top-color : $able-green;
    }
    .stage-one & {
        border-top-color : $orange;
    }
    .stage-two & {
        border-top-color : $blue;
    }
    .stage-three & {
        border-top-color : $red;
    }
}



// scroll down arrow
.scroll-down {
    position : absolute;
    bottom : 5%;
    display : flex;
    flex-direction : column;
    align-items : center;
    span {
        color : $able-grey;
        margin-top : 1rem;
    }
    .fa {
        color : $able-green;
        font-size : 4.5rem;
        transform: translateY(0);
        animation: bounce 1.2s infinite;
        animation-timing-function: ease;
    }
}










// ____________________________________________________________________________

// individual sections


// ___________________
// 1: title
.title {
    height: 100%;
}
.title .container {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    text-align : center;
    height : 100%;
    z-index : 2;
    color : $white;
    animation: fadein 2s;
    h1 {
        font-size : 6rem;
        font-weight : $bold;
        margin-bottom : 1rem;
        text-shadow : $text-shadow;
    }
    p {
        font-size : 3rem;
        font-weight : $normal;
        padding : 1rem 2.5rem;
        background-color : rgba( $able-green, .75 );
    }
    

    // small screens
    @media (orientation : portrait) , (max-width: 659px) {
        > p, > h1, .scroll-down { display : none; }
    }

    // small screens
    .small-msg {
        display : none;
        @media (orientation : portrait) , (max-width: 659px) {
            display : flex;
            flex-direction : column;
            flex-wrap : wrap;
            align-items : center;
            justify-content : center;
            p {
                font-size : 1.8rem;
                font-weight : $normal;
                padding : 1rem 1.8rem;
                color : $white;
                background-color : rgba( $able-green, .75 );
            }
            .icon {
                position : relative;
                cursor : pointer;
                &:hover {
                    animation : rotate .75s ease-in-out forwards;
                }
            }
            .fa {
                color : $able-green;             
                &-undo {
                    position : absolute;
                    top : 11rem;
                    left : 3.5rem;
                    font-size : 4.5rem;
                }
                &-mobile {
                    font-size : 27rem;
                }
                
            }
        }
    }
    
}






// add svg images - top level groups
// - 'forwards' pauses animation at last frame
.title svg > g {
    display : none; // hidden for the time being

    -ms-transform-origin:50% 50%;
    transform-origin: 50% 50%;
    -ms-transform:scale(0);
    transform:scale(0);
    animation : pictureScale .5s cubic-bezier(.25,.87,.44,1.23) forwards;
}
#speech {
    animation-delay: 1.5s;
    // .left, .right {
    //     animation: floatX 12s ease-in-out infinite;
    // }
    // .right {
    //     animation-delay : 2s;
    //     animation-direction : reverse;
    // }
}
#heart {
    animation-delay: 1.75s;
}
#bear {
    animation-delay: 2s;
}
#dove {
    animation-delay: 2.25s;
}










// ___________________
// overview
.overview {
    height: 100%;
    display : flex;
    justify-content : center;
    // .container {
    //     opacity : 0;
    // }
    // .paragraph {
    //     opacity : 0;
    //     transform : translatex(-500px);
    // }
    // svg {
    //     opacity : 0;
    // }


    // div[class^='puzzle'], div[class*=' puzzle'] {
    //     opacity : 0;
    //     transform:scale(0);
    // }
    // svg > g {
    //     opacity:0;
    // }
}
// .overview .paragraph {transform:translatex(-200px);}








// ___________________
// stages-title
.stages-title {
    height : 100%;
    text-align : center;
    display : flex;
    justify-content : center;

    h2 {
        font-size : 3rem;
        font-weight : $normal;
        padding : 1rem 2.5rem;
        color : $white;
        background-color : rgba( $able-grey, .75 );
        // opacity: 0;
        // transform: translatex(-500px);
    }
} 




// ___________________
// stage one: MIAMs
.stage-one {
    height : 100%;
    display : flex;
    justify-content : center;

    .tick {
        stroke : transparent;
        
        // animation: dash .5s linear forwards;
        &.active {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke : $able-green;
            animation: dash 3s linear forwards;

        }
    }
}





// ___________________
// stage two: Mediation Sessions
.stage-two {
    height : 100%;
    display : flex;
    justify-content : center;

    
} 





// ___________________
// stage three: End of Mediation
.stage-three {
    height : 100%;
    display : flex;
    justify-content : center;

    
}




// ___________________
// end CTA: link to able mediation website
.end-cta {
    height : 100%;
    text-align : center;
    display : flex;
    justify-content : center;

    .container > div {
        display : flex;
        flex-direction : column;

    }

    .scroll-down {
        position : relative;
        margin : 4.8rem 0;
    }

    p {
        font-size : 2.4rem;
        font-weight : $normal;
        padding : .8rem 1.8rem;
        color : $white;
        background-color : rgba( $able-green, .75 );
    }

    .button {
        align-self : center;
        display: inline-block;
        // height: 48px;
        // padding: 0 10px;
        // text-align: center;
        padding: 1rem 2rem;
        font-size: 3rem;
        line-height: 1;
        font-weight: $bold;
        letter-spacing: .1rem;
        text-decoration: none;
        white-space: nowrap;
        color: $orange;
        background-color: transparent;
        border: 3px solid $orange;
        border-radius: 4px;
        cursor: pointer;
        box-sizing: border-box;
        transition: all ease-in-out 0.25s;
        &:hover,
        &:focus {
            color: $white;
            background-color: $orange;
        }
    }
} 
