body {
    width : 100%;
    height : 100%;
    font-family : $font-main;
    @include Pbody($able-grey);
    background-color : $bg_green;
    // could just change bg colour with javascript, no luck with gradient and viewport - 100vh
    
    // rotate message OR over 600px - see below
    @media (orientation : portrait) , (max-width: 480px) {
        position : fixed;
    }
}






















// brand header
.header {
    width : 100%;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    z-index : 5;
    @include verticalGradient($white_a, transparent);
    // hide on scroll
    height : 110px;
    transition: top 0.2s ease-in-out;
    &.up {
        top : -110px;
    }
    .container {
        display : flex;
        justify-content : space-between; 
        align-items : center;
        padding-top : 2rem;
        padding-bottom : 2rem;
        .logo {
            display : flex;
            flex-direction : column;
            align-items : center;
            text-decoration : none;
            color : $able-grey;
            font-weight : $bold;
            line-height : 1;
            span {
                color : $able-green;
            }
        }
        .share {
            display : flex;
            align-items : center;
            text-transform : uppercase;
            font-size : 1.4rem;
            a {
                text-decoration : none;
                color : $able-grey;
                font-size : 1.8rem;
                margin-left : 1.5rem;
                transition : color .3s ease;
                &.facebook:hover {
                    color : $facebook;
                }
                &.google:hover {
                    color : $google;
                }
                &.twitter:hover {
                    color : $twitter;
                }
            }
        }
        // fix flex - can't deal with after
        &::after{
            content : none;
            display : none;
        }  
    }

}










// main animation container
// - everything contained within this
.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    bottom : 0;
    > div {
        position : relative;
        width: 100%;
        overflow : hidden;
        box-sizing : border-box;
        display : flex;
        justify-content : center;

        // all containers (apart from header)
        .container {
            z-index : 2;
            display : flex;
            align-items : center;
            // center and right align
            &.center {
                justify-content : center;
            }
            &.right {
                justify-content : flex-end;
            }
            // fix flex - can't deal with after
            &::after{
                content : none;
                display : none;
            }
        }


        // svg background / cover
        .bg-graphic {
            width : 100%;
            height : 100%;
            position : absolute;
            top : 0;
            left : 0;
            z-index : 1;
        }
        // may have to position each individually, and responsively
        .right-graphic {
            height : 100%;
            width : 60%;
            position : absolute;
            right : -5%;
            z-index : 1;
        }
        
        .left-graphic {
            position : absolute;
            z-index : 1;
            // height : 75%;
            // width : 75%;
            // top : 14%;
            // bottom : 0;
            // left : -12%;

            width : 100%;
            height : 100%;
            top : 0;
            bottom : 0;
            left : -30%;

            @media (min-width: 660px) {
                height : 87.5%;
                width : 87.5%;
                top : 7%;
                left : -18%;
            }
            @media (min-width: 880px) {
                height : 100%;
                width : 100%;
                top : 0;
                left : -24%;
                &.document {
                    top : 6%;
                }
            }
        }
    }
}









// paragraphs
.paragraph {
    border-top : 10px solid;
    padding-top : 2.5rem;
    h3 {
        @include h3($able-grey);
    }
    .overview & {
        border-top-color : $able-green;
    }
    .stage-one & {
        border-top-color : $orange;
    }
    .stage-two & {
        border-top-color : $blue;
    }
    .stage-three & {
        border-top-color : $red;
    }
}



// scroll down arrow
.scroll-down {
    position : absolute;
    bottom : 5%;
    display : flex;
    flex-direction : column;
    align-items : center;
    span {
        color : $able-grey;
        margin-top : 1rem;
    }
    .fa {
        color : $able-green;
        font-size : 4.5rem;
        transform: translateY(0);
        animation: bounce 1.2s infinite;
        animation-timing-function: ease;
    }
}










// ____________________________________________________________________________

// individual sections


// ___________________
// 1: title
.title {
    height: 100%;
}
.title .container {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    text-align : center;
    height : 100%;
    z-index : 2;
    color : $white;
    animation: fadein 2s;
    h1 {
        @include h1($white);
    }
    p {
        @include pBackground($able-green);
    }
    

    // small screens
    @media (orientation : portrait) , (max-width: 480px) {
        > p, > h1, .scroll-down { display : none; }
    }

    // small screens
    .small-msg {
        display : none;
        @media (orientation : portrait) , (max-width: 480px) {
            display : flex;
            flex-direction : column;
            flex-wrap : wrap;
            align-items : center;
            justify-content : center;
            p {
                font-size : 1.8rem;
                font-weight : $normal;
                padding : 1rem 1.8rem;
                color : $white;
                background-color : rgba( $able-green, .75 );
            }
            .icon {
                position : relative;
                cursor : pointer;
                width : 27rem;
                &:hover {
                    animation : rotate .75s ease-in-out forwards;
                }
            }
            .fa {
                color : $able-green;             
                &-undo {
                    position : absolute;
                    top : 11rem;
                    left : calc((27rem/2) - 2.25rem);
                    font-size : 4.5rem;
                }
                &-mobile {
                    font-size : 27rem;
                }
                
            }
        }
    }
    
}






// ___________________
// overview
.overview {
    height: 100%;
    display : flex;
    justify-content : center;
}





// ___________________
// stages-title
.stages-title {
    height : 100%;
    text-align : center;
    display : flex;
    justify-content : center;

    h2 {
        @include h2Background($able-grey);
    }
} 




// ___________________
// stage one: MIAMs
.stage-one {
    height : 100%;
    display : flex;
    justify-content : center;

    .tick {
        stroke : transparent;
        stroke-width : 20;
        
        // animation: dash .5s linear forwards;
        &.active {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke : $able-green;
            animation: dash 3s linear forwards;

        }
    }
}





// ___________________
// stage two: Mediation Sessions
.stage-two {
    height : 100%;
    display : flex;
    justify-content : center;

    // signpost
    .right-graphic.signpost {
        width : 50%;
        top : 5%;
        right : 1%;
    }

    .one, .two, .three {
        opacity : 0;
    }
    .opaque {
        animation: opaque 1s linear forwards;
    }
} 





// ___________________
// stage three: End of Mediation
.stage-three {
    height : 100%;
    display : flex;
    justify-content : center;

    // signatures
    .signature {
        stroke : transparent;
        path {
            stroke-width : 5;
        }
        line {
            stroke-width : 7;
        }
        
        // animation: dash .5s linear forwards;
        &.active path,
        &.active line {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke : $able-grey;
            animation: dash 3s linear forwards;
        }
        &.active path {
            stroke : $facebook;
        }
    }
    // stamp
    .stamp {
        fill : transparent;
        &.active path {
            animation: blur .35s linear forwards;
        }
    }

    
}















// ___________________
// end CTA: link to able mediation website
.end-cta {
    height : 100%;
    text-align : center;
    display : flex;
    justify-content : center;

    .container > div {
        display : flex;
        flex-direction : column;
        color : $white;
    }

    h2 {
        align-self : center;
        @include h1($white);
    }

    .scroll-down {
        position : relative;
        display : none;
        @media (min-width: 660px) {
            display : block;
            margin : 2.4rem 0;
        }
        @media (min-width: 880px) {
            margin : 4.8rem 0;
        }
    }

    p {
        @include pBackground($able-green);
        margin-bottom : 1rem;
    }

    .button {
        align-self : center;
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 3rem;
        line-height: 1;
        font-weight: $bold;
        letter-spacing: .1rem;
        text-decoration: none;
        white-space: nowrap;
        color: $orange;
        background-color: transparent;
        border: 3px solid $orange;
        border-radius: 4px;
        cursor: pointer;
        box-sizing: border-box;
        transition: all ease-in-out 0.25s;
        &:hover,
        &:focus {
            color: $white;
            background-color: $orange;
        }
    }
} 
